<app-header titulo = "Cards"></app-header>

<ion-content>

  <h3 class="ion-margin">Basic Card</h3>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <h3 class="ion-margin">Personal Card</h3>

  <ion-card>

    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laboriosam excepturi iure molestiae aliquid, aut ab natus velit illum ipsam amet veniam praesentium modi dolorum magni nobis beatae hic. Distinctio!
    </ion-card-content>

  </ion-card>

  <h3 class="ion-margin">Image Card</h3>

  <ion-card>
    <img src="https://i.pinimg.com/originals/2a/54/2e/2a542eff70caf097dfbc3eec360758a7.jpg">
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laboriosam excepturi iure molestiae aliquid, aut ab natus velit illum ipsam amet veniam praesentium modi dolorum magni nobis beatae hic. Distinctio!
    </ion-card-content>
  </ion-card>

</ion-content>
